<div class="main profile__main">
    <div class="l">
        <div class="l-col1 ">
            <div class="container" role="profile-edit"></div>
        </div>
        <div class="l-col2_half">
            <div class="container payments" role="payments"></div>
        </div>
    </div>
</div>